.submenu-enter {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }
  
  .submenu-enter-active {
    max-height: 200px; /* Adjust according to your submenu content */
    opacity: 1;
  }
  
  .submenu-exit {
    max-height: 200px; /* Adjust according to your submenu content */
    opacity: 1;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }
  
  .submenu-exit-active {
    max-height: 0;
    opacity: 0;
  }
  